*.o
*.la
*.lo
*.pyc
*.txt.uncompressed
*.bro
*.unbro
tools/bro
build/
dist/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
dec/.*
enc/.*
config.guess
config/config.h
config/config.h.in
config/config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
config/libbrotlidec.la
config/libbrotlidec.pc
config/libbrotlienc.la
config/libbrotlienc.pc
config/m4/
libtool
ltmain.sh
missing
stamp-h1
